.mainWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
  font-size: 1.2rem;
  justify-items: center;
  align-items: center;
}

.summaryBoxOne {
  grid-column: 1;
  grid-row: 1;
}

.summaryBoxTwo {
  grid-column: 1;
  grid-row: 2;
}

.summaryBoxThree {
  grid-column: 2;
  grid-row: 3;
}

.imageBoxGarden {
  grid-column: 2;
  grid-row: 1 / 3;
}

.imageBoxOffice {
  grid-column: 1;
  grid-row: 3;
}

.imageGardenBig {
  display: block;
  width: 450px;
  height: auto;
}

.imageGardenSml,
.imageOfficeSml {
  display: none;
  width: 300px;
  height: auto;
}

.imageOfficeBig {
  display: block;
  width: 600px;
  height: auto;
}

@media (max-width: 1024px) {
  .mainWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    font-size: 1.2rem;
  }

  .summaryBoxTwo {
    grid-row: 3;
  }

  .summaryBoxThree {
    grid-column: 1;
    grid-row: 5;
  }
  
  .imageBoxGarden {
    grid-column: 1;
    grid-row: 2;
  }
  
  .imageBoxOffice {
    grid-column: 1;
    grid-row: 4;
  }

  .imageGardenBig {
    width: 375px;
  }
}

@media (max-width: 768px) {
  .imageGardenBig,
  .imageOfficeBig {
    display: none;
  }

  .imageGardenSml,
  .imageOfficeSml {
    display: block;
  }
}

@media (max-width: 480px) {
  .summaryBox {
    font-size: 1rem;
  }

  .imageGardenSml,
  .imageOfficeSml {
    width: 250px;
  }
}