.hobbiesWrapper {
  display: grid;
  gap: 2rem;
}

.trailWrapper {
  background-color: var(--background-div-color);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2rem;
}

.exploreWrapper {
  background-color: var(--background-div-color);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.growWrapper {
  background-color: var(--background-div-color);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.emojis {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .trailWrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .emojis {
    font-size: 2rem;
  }
}