.mainWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  gap: 2rem;
}

.headingBox {
  grid-column: 1;
  grid-row: 1;
}

.cursor {
  animation: blink 1s infinite;
  animation-fill-mode: forwards;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.imageBox {
  grid-column: 2;
  grid-row: 1 / 4;
  justify-self: center;
  align-self: center;
}

.imageBig {
  display: block;
  width: 400px;
  height: auto;
}

.imageSml {
  display: none;
  width: 300px;
  height: auto;
}

.summaryBox {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  font-size: 1.2rem;
}

.straplineBox {
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  color: var(--secondary-color);
  background-color: var(--background-div-color);
  font-size: 1.4rem;
  max-width: 900px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}
.straplineBox:hover {
  color: var(--secondary-color-dark);
  background-color: var(--secondary-color-light);
}

.straplineLink {
  color: inherit;
  text-decoration: none;
  display: block;
  transition: transform 0.2s ease;
}

@media (max-width: 1024px) {
  .mainWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 1rem;
  }
  
  .imageBox {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }

  .imageBig {
    display: none;
  }

  .imageSml {
    display: block;
  }

  .summaryBox {
    grid-row: 3;
  }

  .straplineBox {
    grid-row: 4;
    max-width: min(90vw, 650px);
  }
}

@media (max-width: 480px) {
  .imageSml {
    width: 200px;
  }
  
  .summaryBox {
    font-size: 1.2rem;
  }

  .straplineBox {
    font-size: 1.2rem;
    max-width: min(90vw, 400px);
    padding: 0.5rem 1rem;
  }
}