.hobbiesWrapper {
  display: grid;
  gap: 1rem;
}

.trailWrapper,
.exploreWrapper,
.growWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: 0 0 5px 5px var(--secondary-color-light);
  padding: 1rem;
}

.textWrapper {
  flex: 1;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.exploreWrapper {
  flex-direction: column;
}

/* .growWrapper {

} */
