:global(.wrapper) {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  margin: auto;
  gap: 3rem;
}

.linkTitle {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color-dark);
  background-color: transparent;
  border: none;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
}

.active {
  color: var(--primary-color-dark);
  background-color: var(--primary-color-light);
}

.linkTitle:hover {
  color: var(--primary-color-light);
  background-color: var(--primary-color-dark);
}

.button {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color-dark);
  background-color: transparent;
  border: none;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
}

.button:hover {
  color: var(--primary-color-light);
  background-color: var(--primary-color-dark);
}