:global(.wrapper) {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 50px;
  gap: 1rem;
}

:global(.miniWrapper) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.linkTitle {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color-dark);
  background-color: transparent;
  border: none;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
}

.active {
  color: var(--primary-color-dark);
  background-color: var(--primary-color-highlight);
}

.linkTitle:hover {
  color: var(--primary-color-light);
  background-color: var(--primary-color-dark);
}

.button {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color-dark);
  background-color: transparent;
  border: none;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
}

.button:hover {
  color: var(--primary-color-light);
  background-color: var(--primary-color-dark);
}