.projectsWrapper {
  display: grid;
  gap: 1rem;
}

.projectWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--background-div-color);
  border-radius: 1rem;
  padding: 1rem;
}

.textWrapper {
  flex: 1;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.headWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  color: var(--secondary-color-dark);
  background-color: var(--secondary-color-light);
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem 1.6rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.button:hover {
  color: var(--secondary-color-light);
  background-color: var(--secondary-color-dark);
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 1rem;
}